.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nameInput {
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 8px;
  width: 300px;
}

.buttonContainer {
  display: flex;
  gap: 50px;
}

.buttonContainer > button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 150px;
  font-size: large;
}

.buttonContainer .newGameButton {
  background-color: #7c3aed;
}

.buttonContainer .joinGameButton {
  background-color: #14b8a6;
}
