.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 20px;
  background-color: white;
}

.modalContent {
  padding: 10px 0px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.modalTitle {
  margin: 0px;
}

.modalClose {
  background-color: white;
  border: none;
  font-size: larger;
  font-weight: 400;
  cursor: pointer;
}

.modalInput {
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 8px;
  width: 300px;
}

.modalActions {
  margin-top: 20px;
  text-align: right;
}

.modalButton {
  background-color: #85a6e6;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.modalButton:hover {
  background-color: #2654c5;
}
